
@using FA.JustBlog.Core.Models.Entities;
@model List<Post>
@{
    ViewBag.Title = "LatestPosts";
}

@Html.Partial("View")


<!--Header-->
<header class="masthead" style="background-image: url('../../Content/assets/img/about-bg.jpg');">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <h2>@ViewBag.Title</h2>
                @foreach (var item in Model)
                {
                    <h4>
                        @Html.ActionLink(@item.Title, "Details", "Post", new
                {
                    year = @item.PostedOn.Value.Year,
                            month = @item.PostedOn.Value.Month,
                    @title = @item.UrlSlug
                }, null)
                    </h4>
                    <p class="post-subtitle">
                        Posted: @item.PostedOn with rate @item.RateCount by @item.ViewCount
                    </p>
                    <p class="post-meta">
                        @item.PostContent
                    </p>
                    @Html.ActionLink("Comment", "GetCommentByPost", new { id = @item.Id })
                    <br /><br /><hr />
                }


            </div>
            <hr>
        </div>
    </div>
</div>
